body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: antiquewhite;
}

.title{
    text-align: center;
    margin-top: 5rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col{
    flex-direction: col;
}
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.op_div{
    display: flex;
    flex-direction:column;
    background:  #808080;
    /* padding: 10px; */
}
.inner_div{
    flex-direction: row;
    background-color: #1a1a1a;
    color:white;
    padding: 10px;
}
.input_box{
    background-color: #fff;
}
.input_box input{
    color: #1a1a1a;
}
.btn_div{
    padding: 5px;
}
.button{
    padding:5px 30px ;
    background: transparent;
    outline: none;
    border: none;
    color:#f2f2f2;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.marg{
    margin-bottom: 14px;
    margin-top: 4px;
}

.bg{
    background-color: rgb(32, 159, 159);
    padding:15px 0;
    margin-bottom: 7px;
}
.bb{
    margin-top: 5px;
}
